.main-header {
  background: var(--orange);
  padding-top: 5rem;
}

.new-task-form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 992px) {
  .new-task-form {
    flex-wrap: nowrap;
  }
}

.new-task-deadline {
  width: 100%;
  color: var(--medium-gray);
}

@media (min-width: 576px) {
  .new-task-deadline {
    width: 27rem;
  }
}

.new-task-submit {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.plus {
  font-size: 2rem;
}

.sort-container {
  background: var(--orange);
  filter: brightness(115%);
  padding: 2rem;
  margin-top: 3.5rem;
}

.sort-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sort-label {
  color: var(--black);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 400px) {
  .sort {
    width: 100%;
  }
  .sort-label {
    display: none;
  }
}
