.modal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--white);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 7rem 5rem;
  border-radius: 2.5rem;
  box-shadow: rgba(82, 86, 90, 0.267) 0px 8px 24px;
}

.modal-container.modal-bg {
  background: #fd9356b9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
