.task {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  gap: 3rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 2.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (min-width: 992px) {
  .task {
    grid-template-columns: 4% 60% auto 5%;
  }
}

.task.task-done {
  text-decoration: line-through;
}

.task-checkbox[type="checkbox"] {
  justify-self: end;
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url("../../icons/check-icon.svg");
  margin-right: 5rem;
  margin-bottom: 2px;
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .task-checkbox[type="checkbox"] {
    justify-self: start;
    grid-row-start: unset;
    grid-row-end: unset;
  }
}

.task-checkbox[type="checkbox"]:checked {
  background-image: url("../../icons/checked-icon.svg");
}

.task-checkbox[type="checkbox"],
.task-checkbox[type="checkbox"]:checked {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.task-checkbox[type="checkbox"]:focus {
  box-shadow: none;
}

.task-desc {
  color: var(--medium-gray);
}

.delete-btn {
  justify-self: end;
  grid-column: 1/2;
  grid-row: 3/4;
}

@media (min-width: 992px) {
  .delete-btn {
    justify-self: end;
    grid-column: 4/5;
    grid-row: 1/2;
  }
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  filter: saturate(1.8) brightness(90%);
}
